extends head

block content
  .head
    h1 404 
    p uh oh. I cant find what you're looking for :(.
    a.return(href='/') Return to the Homepage
  footer
    span
      a(href='https://www.facebook.com/nathan.degraaf.12')
        img#facebook(src='pics/facebook.svg', alt='a link to facebook')
      a(href='https://twitter.com/The_Real_Fludd')
        img#twitter(src='pics/twitter.svg', alt='a link to twitter')
      a(href='https://www.twitch.tv/runicfreak')
        img#twitch(src='pics/twitch-brands.svg', alt='a link to twitch')
      h6 © 2019 Nathan deGraaf