extends layout

block content
  main
    section.centered
      h2 Contact
      div.grid
        form(action='/form', method='post', enctype='application/x-www-form-urlencoded')
          fieldset
            legend Get in touch!
            section.form

              label.required(for='name') Name
              input#name(type='text', name='name' placeholder='Who are you?', required)

              label.required(for='email') Email
              input#email(type='email', name='email' placeholder='Please enter email', required)

              label.span2(for='comment') Comment
              textarea#comment.span2(name='comment', cols='30', rows='10', placeholder='What would you like me to know?')

              input#submit.span(type='submit', value='Send')
