extends layout

block content
		main
			section.flex
				.gallery
					img(src='/pics/hair.jpg', alt='')
				.gallery
					img(src='/pics/mc-1.jpg', alt='')
				.gallery
					img(src='/pics/mouf.jpg', alt='')
				.gallery
					img(src='/pics/paintball.jpg', alt='')
				.gallery
					img(src='/pics/mc-2.jpg', alt='')
				.gallery
					img(src='/pics/sax-man.jpg', alt='')
				.gallery
					img(src='/pics/photo-2.jpg', alt='')
				.gallery
					img(src='/pics/fish.jpg', alt='')
				.gallery
					img(src='/pics/grad-1.jpg', alt='')
				.gallery
					img(src='/pics/stance.jpg', alt='')
