extends layout

block content
		main
			section.flex
				.gallery
					img(src='/pics/hair.jpg', alt='Nathan with long hair')
				.gallery
					img(src='/pics/mc-1.jpg', alt='Nathan as an mc, Swing City 2017')
				.gallery
					img(src='/pics/mouf.jpg', alt='weird face')
				.gallery
					img(src='/pics/paintball.jpg', alt='nathna paintballing 2019')
				.gallery
					img(src='/pics/mc-2.jpg', alt='Nathan as an mc, jazz life 2017')
				.gallery
					img(src='/pics/sax-man.jpg', alt='Nathan playing Alto Saxophone Swing city 2015')
				.gallery
					img(src='/pics/photo-2.jpg', alt='Nathan playing Alto Saxophone Swing City 2017')
				.gallery
					img(src='/pics/fish.jpg', alt='Nathan holding a Walleye on the line')
				.gallery
					img(src='/pics/grad-1.jpg', alt='Grad 2017 with Nathan and Brianna')
				.gallery
					img(src='/pics/stance.jpg', alt='Nathan and friends posing for photos')