extends layout

block content
	div
		main
			h2 Check out the animals!
			section.flex
				.card
					img(src='/pics/bella-1.jpg', alt='a black and white cat sitting on the table')
					h3 Bella
					p
						| Bella is a black and white cat with more fat than she will ever need. in this photo she was sitting underneath the table trying to beg for more food to increase her girth.
				.card
					img(src='/pics/spooky.jpg', alt='gray cat laying on floor')
					h3 Spooky
					p
						| Spooky's name is true to its word. she gets scared from everything. she could hear a grain of rice hit the floor and she would be running the other direction
				.card
					img(src='/pics/turtle.jpg', alt='a turtle eating a peice of lettuce')
					h3 Turt
					p
						| Technically not my animal. Turt lived in my frotyard for about 6 months. I would feed himm lettuce.
						br
						br
						| He did not like me..
				.card
					img#bella2(src='/pics/bella-2.jpg', alt='a black and white cat sitting in a food bowl')
					h3 Bella
					p
						| This is Bella again. however this time she decided that she wanted to ruin a perfectly good dish by sitting in it. so you know how hard it is to get the smell of litter off of things!
			section.flex2
				.card2
					img#peanut(src='/pics/peanut.jpg', alt='a small dog laying on the floor')
					h3 Peanut
					p
						| Peanut is alwasy attached to my mothers side, if she leaves the house he stays at the fron door and will refuse to eat. despite his health problems hes always been the goodest of boys.
				.card2
					img#jeb(src='/pics/jeb.jpg', alt='a red fox sitting on a gravel road')
					h3 Jeb
					p
						| Jebediah the red fox likes fish. Once upon a time I went fishing, this clever fox stayed by the docks for the people to feed him leftover minnos or other bait.


